body{
    background-color: bisque;
    font-family: sans-serif, Arial;
}

.main {
}
.main-content {
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 50px auto;
    width: 700px;
    max-width: 90%;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    display: grid;
    gap: 20px;
    border-radius: 15px;
}
.front_picture {
    
    
}
.header {
}
.list_1 {
    background-color: rgb(242, 221, 225);
    padding: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    h3{
        color: rgb(222, 127, 222);
    }
    
}
img{
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 15px;
}

ul, li{
    padding-left: 20px;
}
.list_2{
    display: grid;
    gap: 5px;
    h2{
        color: rgb(104, 43, 43);
    }
}
ol, li{
    padding: 15px;
}

.list_2,
.list_3 {
    border-bottom: 1px solid #8a8a8a;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.list_4 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list_4 li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.list_4 li:last-child {
    border-bottom: none;
}

